<html>
<head>
  <title>Subscription Status - Test Page</title>

  <link rel="stylesheet" href="/components/rv-common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="/dist/css/subscription-status.css">
</head>
<body ng-app="testapp" ng-controller="mainController">

  <div class="container text-center">
    <div class="btn-group">
      <button id="setValid" class="btn btn-warning" ng-click="setValid()">Valid</button>
      <button id="setInvalid" class="btn btn-warning" ng-click="setInvalid()">Invalid</button>
      <button id="setExpired" class="btn btn-warning" ng-click="setExpired()">Expired</button>
    </div>
  </div>

  <div class="container">
    <div class="paid-on-board">
      <h1>Support</h1>
      <p class="lead">Telephone, email and remote assistance, diagnosis and control for all Rise Vision applications and widgets.</p>

      <div class="about">
        <app-subscription-status
          product-id="{{productId}}"
          product-code="{{productCode}}"
          company-id="{{companyId}}"
          product-price="75 monthly"
          ng-model="subscribed"></app-subscription-status>

        <div class="cover"></div>

        <div class="details">
          <p>Access to our team to help you with issues and answer questions from 8am and 5pm Central Standard Time, Monday through Friday, excluding holidays.</p>
          <p>Using our powerful remote assistance, we can see what you see and save you the headache of trying to explain everything in detail. You call us, we remote in and go to work on resolving the issue.</p>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/node_modules/widget-tester/mocks/gadget-mocks.js"></script>
<script type="text/javascript" src="/node_modules/widget-tester/mocks/common-mock.js"></script>
<script type="text/javascript" src="/components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
<script type="text/javascript" src="/src/config/test.js"></script>
<script type="text/javascript" src="/components/angular-translate/angular-translate.js"></script>
<script type="text/javascript" src="/components/rv-common-i18n/dist/i18n.js"></script>
<script type="text/javascript" src="/dist/js/subscription-status.js"></script>
<script type="text/javascript" src="/test/svc-http-mock.js"></script>

<script type="text/javascript">
angular.module('testapp', ['risevision.widget.common.subscription-status'])
  .controller("mainController", ["$scope", function ($scope) {
    $scope.productId = "1";

    $scope.setValid = function() {
      $scope.productCode = "1";
      $scope.companyId = "12345";
    }

    $scope.setInvalid = function() {
      $scope.productCode = "1";
      $scope.companyId = "invalid";
    }

    $scope.setExpired = function() {
      $scope.productCode = "2";
      $scope.companyId = "12345";
    }
  }]);
</script>
</body>
</html>
