<html>
<head>
  <title>Subscription Status - Test Page</title>

  <link rel="stylesheet" href="/components/common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="/dist/css/subscription-status.css">
</head>
<body ng-app="testapp" ng-controller="mainController">

<div id="subscription-status" subscription-status product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
  ng-model="subscribed"></div>
<button id="setValid" ng-click="setValid()">Valid</button>
<button id="setInvalid" ng-click="setInvalid()">Invalid</button>
<button id="setExpired" ng-click="setExpired()">Expired</button>

<script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/components/angular-mocks/angular-mocks.js"></script>
<script type="text/javascript" src="/components/angular-translate/angular-translate.js"></script>
<script type="text/javascript" src="/components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script type="text/javascript" src="/node_modules/widget-tester/mocks/gadget-mocks.js"></script>
<script type="text/javascript" src="/node_modules/widget-tester/mocks/common-mock.js"></script>
<script type="text/javascript" src="/components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
<script type="text/javascript" src="/src/config/test.js"></script>
<script type="text/javascript" src="/components/rv-common-i18n/dist/i18n.js"></script>
<script type="text/javascript" src="/dist/js/subscription-status.js"></script>
<script type="text/javascript" src="/test/svc-http-mock.js"></script>

<script type="text/javascript">
angular.module('testapp', ['risevision.widget.common.subscription-status'])
  .controller("mainController", ["$scope", function ($scope) {
    $scope.productId = "1";

    $scope.setValid = function() {
      $scope.productCode = "1";
      $scope.companyId = "12345";
    };

    $scope.setInvalid = function() {
      $scope.productCode = "1";
      $scope.companyId = "invalid";
    };

    $scope.setExpired = function() {
      $scope.productCode = "2";
      $scope.companyId = "12345";
    };
  }]);
</script>
</body>
</html>
